/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #020412;
    color: white;
}

.t-txt {
    font-family: 'Nunito Sans', sans-serif;
    color: #4285F4;
}
.f-cont {
    display: flex;
    width: 100%;
    padding: 5px;
}
    .f-cont h2 {
        color: #ec407a;
    }

.songs-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
    width: 100%;
    height: 100%;
}
.songs-container div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-bottom: .5em;
}

.linas {

}
    .linas a {
        text-decoration: none;
        color: #ec407a;
    }